nav ul li a:not(.active):hover {
    background-color:#172554 ;
  }
@media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column;
      text-align: center;
    }
  
    .navbar-nav .nav-item {
      margin: 0;
      padding: 0.5rem 0;
    }
  
    .navbar-collapse {
      margin-top: 1rem;
    }
  
    .navbar h3 {
      font-size: 1.5rem; 
      margin-bottom: 1rem; 
    }
  
    .nav-link {
      padding-left: 0;
      padding-right: 0;
    }
  }
  